<a aria-label="Contactar por WhatsApp" class="whatsapp-fab" href="https://wa.me/573155692130" rel="noopener noreferrer" target="_blank">
<span class="sr-only">WhatsApp</span>
<svg aria-hidden="true" focusable="false" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
<path d="M16.02 3C9.94 3 5 7.93 5 13.99c0 2.4.73 4.62 2 6.49L5 27l6.8-1.93a10.93 10.93 0 0 0 4.21.84C22.9 25.9 27 21 27 14.99 27 8.94 22.1 3 16.02 3m0 2c5.03 0 8.98 4.15 8.98 9.99 0 5.7-3.9 9.9-8.98 9.9-1.34 0-2.6-.27-3.77-.76l-.54-.23-4.04 1.14 1.12-3.94-.26-.56a8.7 8.7 0 0 1-1-4.55C7.53 9.15 11 5 16.02 5m5.1 10.86c-.07-.11-.25-.18-.52-.3-.26-.12-1.54-.76-1.78-.84-.24-.09-.42-.13-.6.12-.18.26-.7.85-.86 1.03-.16.18-.32.19-.58.07-.26-.13-1.12-.41-2.14-1.32-.79-.71-1.32-1.58-1.48-1.84-.16-.26-.02-.4.12-.52.13-.13.26-.3.4-.45.13-.15.18-.26.26-.43.09-.17.04-.33-.02-.46-.06-.13-.6-1.45-.83-1.98-.22-.52-.44-.45-.6-.46l-.5-.01c-.17 0-.46.07-.7.33-.24.26-.92.9-.92 2.2 0 1.3.95 2.55 1.08 2.73.13.18 1.87 3.07 4.52 4.18.63.27 1.12.43 1.5.56.63.2 1.2.17 1.65.1.5-.08 1.54-.63 1.76-1.24.22-.6.22-1.12.15-1.23"></path>
</svg>
</a>
<footer class="site-footer">
<div class="container footer-grid">
<div>
<h3>
<a aria-label="SAG Cauca" class="logo" href="index.html">
<img alt="SAG Cauca" class="logo-img" src="public/img/logosagc.jpg"/>
<span class="sr-only">SAG Cauca</span>
</a>
</h3>
<p>
        Sociedad de Agricultores y Ganaderos del Cauca.<br/>
        Representando al sector agropecuario Caucano.
      </p>
</div>
<div>
<h4>Contacto</h4>
<p>
        Popayán Cauca, Colombia<br/>
        Tel: <a href="tel:+573155692130">315 569 2130</a><br/>
        Tel: <a href="tel:+576028395614">(602) 8395614</a><br/>
        Correo: <a href="mailto:sagcauca@gmail.com">sagcauca@gmail.com</a>
</p>
</div>
<div>
<h4>Redes sociales</h4>
<p class="social-links">
<span aria-label="X (antes Twitter) (pendiente)" class="social-link is-disabled" role="img">
<svg aria-hidden="true" focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M18.9 2H21l-6.6 7.5L22 22h-6.9l-4.8-6.2L4.7 22H2.5l7.1-8.1L2 2h7.1l4.3 5.6L18.9 2zm-1.2 18h1.9L8.3 4H6.3l11.4 16z"></path>
</svg>
<span class="sr-only">X</span>
</span>
<span aria-label="Facebook (pendiente)" class="social-link is-disabled" role="img">
<svg aria-hidden="true" focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M22 12a10 10 0 1 0-11.6 9.9v-7H7.9v-2.9h2.5V9.6c0-2.5 1.5-3.9 3.8-3.9 1.1 0 2.2.2 2.2.2v2.4h-1.2c-1.2 0-1.6.8-1.6 1.5v1.8h2.7l-.4 2.9h-2.3v7A10 10 0 0 0 22 12z"></path>
</svg>
<span class="sr-only">Facebook</span>
</span>
<span aria-label="Instagram (pendiente)" class="social-link is-disabled" role="img">
<svg aria-hidden="true" focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M7 3h10a4 4 0 0 1 4 4v10a4 4 0 0 1-4 4H7a4 4 0 0 1-4-4V7a4 4 0 0 1 4-4zm10 2H7a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2zm-5 3.5A4.5 4.5 0 1 1 7.5 13 4.5 4.5 0 0 1 12 8.5zm0 2A2.5 2.5 0 1 0 14.5 13 2.5 2.5 0 0 0 12 10.5zm5-3.2a1 1 0 1 1-1 1 1 1 0 0 1 1-1z"></path>
</svg>
<span class="sr-only">Instagram</span>
</span>
<span aria-label="LinkedIn (pendiente)" class="social-link is-disabled" role="img">
<svg aria-hidden="true" focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M6.9 8.8H4V20h2.9V8.8zM5.4 4a1.7 1.7 0 1 0 0 3.4A1.7 1.7 0 0 0 5.4 4zM20 12.9c0-3-1.6-4.4-3.7-4.4-1.7 0-2.5 1-2.9 1.7V8.8h-2.9c.1 1 .1 11.2 0 11.2h2.9v-6.2c0-.3 0-.7.1-1 .3-.7.9-1.4 2-1.4 1.4 0 2 1 2 2.5V20H20z"></path>
</svg>
<span class="sr-only">LinkedIn</span>
</span>
</p>
</div>
</div>
<div class="footer-bottom">
<div class="container">
<small>© <span id="year"></span> SAG Cauca. Todos los derechos
        reservados.</small>
</div>
</div>
</footer>
